# Prerequisites
*.d

# Temporary files created by IDE or VSCode
**/.cache
**/.idea

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
**/CMakeCache.txt
**/Makefile
**/*.cmake
**/CMakeFiles/**
**/reflect-cpp-tests
**/build/**
**/build_clang/**

# Output files
*.json
*.fb
*.xml
*.yml
*.yaml

!vcpkg.json
