# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
**/CMakeCache.txt
**/Makefile
**/*.cmake
**/CMakeFiles/**
**/reflect-cpp-tests
**/build/**
**/build_clang/**

# Output files
*.bson
*.cbor
*.json
*.fb
*.flexbuf
*.msgpack
*.toml
*.xml
*.yml
*.yaml

!vcpkg.json

# clangd
compile_flags.txt
compile_commands.json
