/* Colors */
/* Define brand */
:root,
[data-md-color-scheme="default"] {
    --md-default-bg-color: rgb(250, 250, 250);
    --md-primary-fg-color: rgb(255, 255, 255);
    --md-primary-fg-color--light: #865ffe;
    --md-primary-fg-color--dark: #7a7685;
    --md-primary-bg-color: rgba(0, 0, 0, 0.75);
    --md-primary-bg-color--light: rgba(0, 0, 0, 0.54);
    --md-accent-fg-color: var(--md-primary-fg-color--dark);
    --md-accent-fg-color: var(--md-primary-fg-color--dark);
    --pg-light-border: rgb(229, 231, 235);
    --hb-hero-color: rgb(45, 45, 45);
    --md-code-bg-color: #f2f2f2;
    --md-typeset-color--mute: hsla(0deg, 0%, 0%, 0.7);
    --md-typeset-color--light: var(--md-typeset-color);
}
:root,
[data-md-color-scheme="slate"] {
    --md-default-bg-color: rgb(26, 26, 27);
    --md-primary-fg-color: rgb(15, 15, 15);
    --md-primary-fg-color--light: #865ffe;
    --md-primary-fg-color--dark: #fca515;
    --md-primary-bg-color: rgba(0, 0, 0, 0.75);
    --md-primary-bg-color--light: rgba(0, 0, 0, 0.54);
    --md-accent-fg-color: var(--md-primary-fg-color--dark);
    --pg-light-border: rgb(47, 47, 47);
    --hb-hero-color: var(--md-primary-fg-color--light);

    --md-hue: 225deg;
    --md-code-bg-color: hsla(var(--md-hue), 15%, 18%, 1);
    --md-typeset-color--mute: hsla(var(--md-hue), 15%, 90%, 0.76);

    --md-typeset-color--light: hsla(var(--md-hue), 15%, 95%, 0.95);
    --md-typeset-color: hsla(var(--md-hue), 15%, 95%, 0.82);
}

/* Better contrast link colors */
[data-md-color-scheme="default"] > * {
    --md-typeset-a-color: #6241be;
    /* #00B1BB; */
    --md-banner-bg: var(--md-typeset-a-color);
}
[data-md-color-scheme="slate"] > * {
    --md-typeset-a-color: var(--md-primary-fg-color--light);
    --md-banner-bg: #784ff4;
}

/* Hide shadow under navigation */
.md-header[data-md-state="shadow"],
.md-header--shadow {
    box-shadow: none;
}

/* Logo mod */

#logo_light_mode {
    display: var(--md-footer-logo-light-mode);
}

#logo_dark_mode {
    display: var(--md-footer-logo-dark-mode);
}

[data-md-color-scheme="default"] {
    --md-footer-logo-dark-mode: none;
    --md-footer-logo-light-mode: block;
}

[data-md-color-scheme="slate"] {
    --md-footer-logo-dark-mode: block;
    --md-footer-logo-light-mode: none;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 1.1rem;
    margin-top: 0.2rem;
}

/* header font */

.md-typeset h2 {
    font-weight: 600;
}

.md-typeset h2,
.md-typeset h3 {
    color: var(--md-typeset-color--light);
}

/* content partial */

.md-typeset {
    font-size: 0.85rem;
}

.md-typeset .admonition,
.md-typeset details {
    font-size: 0.675rem;
}

.md-typeset code {
    font-size: 0.9em;
}

.md-typeset h2 code {
    font-size: 0.75em;
}

.md-typeset h1.title-description {
    margin-bottom: 0em !important;
}

.md-typeset p.description {
    margin-bottom: 1.25em;
    color: var(--md-typeset-color--mute);
    font-size: 1.15em;
    /* font-weight: */
}

.md-typeset hr.description {
    height: 1px;
    margin-top: 0;
    margin-bottom: 3em;
    border: none;
    background-color: var(--pg-light-border);
}

/* Header - background */

:root {
    --header-backdrop-blur: 10px;
}

.md-header,
.md-tabs {
    /* firefox fallback */
    background-color: rgba(255, 255, 255, 0.95);
}

[data-md-color-scheme="slate"] .md-header,
[data-md-color-scheme="slate"] .md-tabs {
    /* firefox fallback */
    background-color: rgba(9, 9, 9, 0.95);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .md-header,
    .md-tabs {
        background-color: rgba(255, 255, 255, 0.5);
        -webkit-backdrop-filter: blur(var(--header-backdrop-blur));
        backdrop-filter: blur(var(--header-backdrop-blur));
    }
    [data-md-color-scheme="slate"] .md-header,
    [data-md-color-scheme="slate"] .md-tabs {
        background-color: hsla(0, 0%, 100%, 0.03);
        -webkit-backdrop-filter: blur(var(--header-backdrop-blur));
        backdrop-filter: blur(var(--header-backdrop-blur));
    }
}

/* Nav */

.md-nav {
    font-size: 0.73rem;
    line-height: 1.25;
}

.md-tabs__link {
    font-size: 0.75rem;
}
