[data-md-color-primary=getml] {
  --md-primary-fg-color: hsl(255 47% 55% / 1);
  --md-primary-fg-color--light: hsl(255 47% 63% / 1);
  --md-primary-fg-color--dark: hsl(255 52% 47% / 1);
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: #ffffffb3;
}
[data-md-color-accent=getml] {
  --md-accent-fg-color: hsl(255 100% 65% / 1);
  --md-accent-fg-color--transparent: hsl(255.84deg 100% 65.1% / 10.2%);
  --md-accent-bg-color: #fff;
  --md-accent-bg-color--light: #ffffffb3;
}

[data-md-color-scheme="slate"] {
  --md-hue: 255; 
}

blockquote {
  background-color: var(--md-code-bg-color--light);
}

.md-typeset h1 {
  color: var(--md-default-fg-color);
}

.md-typeset h1, .md-typeset h2, .md-typeset h3 {
  font-weight: bold;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.user-list-center {
  justify-content: space-evenly;
}

.user {
  margin: 1em;
  min-width: 7em;
}

.user .avatar-wrapper {
  width: 80px;
  height: 80px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.user .avatar-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user .title {
  text-align: center;
}

.user .count {
  font-size: 80%;
  text-align: center;
}