:root {
    --md-primary-fg-color:        #42A5B9;  
    --md-primary-fg-color--light: #42A5B9;  
    --md-primary-fg-color--dark:  #7A6A6E;  
    --md-accent-fg-color:         #F0685C;  
    --md-accent-fg-color--transparent: #F0685C;  
}
