name: test

on: [ push, pull_request ]

jobs:
  macos-clang-x64:
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Run vcpkg
        uses: lukka/run-vcpkg@v11
      - name: Run test
        env:
          CC: clang
          CXX: clang++
        run: |
          clang --version
          cmake -S . -B build -DREFLECTCPP_BUILD_TESTS=ON -DREFLECTCPP_BUILD_BENCHMARKS=ON -DREFLECTCPP_BSON=ON -DREFLECTCPP_CBOR=ON -DREFLECTCPP_FLEXBUFFERS=ON -DREFLECTCPP_MSGPACK=ON -DREFLECTCPP_TOML=ON -DREFLECTCPP_XML=ON -DREFLECTCPP_YAML=ON -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_MAKE_PROGRAM=make 
          cmake --build build -j 4
          ./build/tests/bson/reflect-cpp-bson-tests
          ./build/tests/cbor/reflect-cpp-cbor-tests
          ./build/tests/flexbuffers/reflect-cpp-flexbuffers-tests
          ./build/tests/json/reflect-cpp-json-tests
          ./build/tests/msgpack/reflect-cpp-msgpack-tests
          ./build/tests/toml/reflect-cpp-toml-tests
          ./build/tests/xml/reflect-cpp-xml-tests
          ./build/tests/yaml/reflect-cpp-yaml-tests
          ./build/benchmarks/json/reflect-cpp-json-benchmarks
