name: test

on: [ push, pull_request ]

jobs:
  macos-clang-arm:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Run vcpkg
        env:
          CC: clang
          CXX: clang++
          VCPKG_FORCE_SYSTEM_BINARIES: arm  
        uses: lukka/run-vcpkg@v11
      - name: Run test
        env:
          CC: clang
          CXX: clang++
          VCPKG_FORCE_SYSTEM_BINARIES: arm  
        run: |
          clang --version
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DREFLECTCPP_BUILD_TESTS=ON -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_MAKE_PROGRAM=make
          cmake --build build -j 4
          ./build/tests/bson/reflect-cpp-bson-tests
          ./build/tests/cbor/reflect-cpp-cbor-tests
          ./build/tests/flexbuffers/reflect-cpp-flexbuffers-tests
          ./build/tests/json/reflect-cpp-json-tests
          ./build/tests/msgpack/reflect-cpp-msgpack-tests
          ./build/tests/toml/reflect-cpp-toml-tests
          ./build/tests/xml/reflect-cpp-xml-tests
          ./build/tests/yaml/reflect-cpp-yaml-tests
